{% extends 'main.html' %}
{% load static %}
{% load i18n %}

{% block title %}
Страница игры
{% endblock title %}

{% block css_additional %}
<link rel="stylesheet" type="text/css" href="{% static 'bgamemate/css/game-page.css' %}" />
{% endblock css_additional %}


{% block content %}

<table style="width: 100%; text-align: center;">
  <tr><td><div class="turn-message"></div></td></tr>
  <tr><td><span class="service-message"></span></td></tr>
</table>

<div style="margin-top: 10px; width: 80%; margin: auto">
  <div class="jumbotron text-center">

<table style="table-layout:fixed; width: 100%">

  <tr>
    <td style="width: 5%">
    <div class="count-negative hidden">-</div>
    </td>
    <td style="width: 90%; text-align: center;">
      <div class="timer tgreen">
      <div>
      <span class="minutes">00</span>:<span class="seconds">00</span>
      </div>
    </div>
    </td>
    <td style="width: 5%"></td>
  </tr>
  <tr>
    <td style="width: 5%"></td>
    <td style="width: 90%; text-align: center;">
        <button class="btn btn-lg btn-success button-start" data-action="start">{% trans "Начать ход" %}</button>
    </td>
    <td style="width: 5%"></td>
  </tr>
  <tr>
    <td style="width: 5%"></td>
    <td style="width: 90%; text-align: center;">
        <button class="btn btn-lg btn-warning button-pause" data-action="pause">{% trans "Пауза" %}</button>
        <button id="finish-game" class="btn finish-game button-finish" data-action="finish">{% blocktrans %} Закончить<br/>игру {% endblocktrans %}</button>
    </td>
    <td style="width: 5%"></td>
  </tr>
  <tr>
    <td style="width: 5%"></td>
    <td style="width: 90%; text-align: center;">
      
    </td>
    <td style="width: 5%"></td>
  </tr>

</table>
</div>            
</div>


<div class="players">

  <table border="0" class="player-results">
    <tr>
      <td style="text-align: center;" colspan="3">
        <div class="transfer-turn">
        {% blocktrans %} ты можешь передавать право хода</br>нажимая на имя игрока ниже {% endblocktrans %}
        </div>
      </td>
    </tr>
    <tr>
      <td style="text-align: center;" colspan="3">
        <button id="random-btn" class="btn button-random" data-action="pause">{% trans "Рандом первого игрока" %}</button>
      </td>
    </tr>
    <tr>
      <td style="width: 40%;">
        &nbsp;
      </td>
      <td style="width: 30%;">
        <div class="header">{% trans "прошлый ход" %}</div>
      </td>
      <td style="width: 30%;">
        <div class="header">{% trans "общее время" %}</div>
      </td>
    </tr>
  {% for player in players %}
  {% if player.active %}
    <tr class="pl-row active">
      {% else %}
    <tr class="pl-row">
      {% endif %}
      <td style="width: 40%;">
        <div id={{player.id}} class="player-block">{{ player.name }}</div>
      </td>
      <td style="width: 30%;"><div class="last-time"></div></td>
      <td style="width: 30%;"><div class="total-time"></div></td>
    </tr>
      {% endfor %}
      
  </table>

</div>

<div id="service-messages">
<div id="duration">{{ duration }}</div>
<div id="finish-move">{% trans "чтобы закончить игру заверши свой ход" %}</div>
<div id="transfer-move">{% trans "чтобы передать право хода сначала заверши свой ход" %}</div>
<div id="time-is-up">{% trans "время хода истекло, немедленно делай ход!" %}</div>
<div id="start-move">{% trans "Начать ход" %}</div>
<div id="finish-your-move">{% trans "Закончить ход" %}</div>
<div id="pause-move">{% trans "Пауза" %}</div>
<div id="continue-move">{% trans "Продолжить\nход" %}</div>
<div id="your-move">{% trans "твой ход!" %}</div>
</div>

<!-- The overlay -->
<div id="overlay">
  <!-- The dialog box -->
  <div id="dialog-box">
      <p>{% blocktrans %}Ты уверен, что хочешь<br/>закончить игру?{% endblocktrans %}</p>
      <button id="yes-button">{% trans "Да" %}</button>
      <button id="no-button">{% trans "Нет" %}</button>
  </div>
</div>

<script src="{% static 'bgamemate/js/game-page.js' %}"></script>

{% endblock content %}
