{% extends 'main.html' %}

{% load static %}

{% block title %}
Начать новую игру
{% endblock title %}

{% block css_additional %}
<link rel="stylesheet" type="text/css" href="{% static 'bgamemate/css/start-game.css' %}" />
{% endblock css_additional%}


{% block content %}



<table border="0" style="width: 100%">
  <tr>
    <td style="width: 5%"></td>
    <td style="width: 90%; text-align: center;">
      <p class="new-game">
        Новая игра
      </p>
    </td>
    <td style="width: 5%"></td>
  </tr>
  <tr>
    <td style="width: 5%"></td>
    <td style="width: 90%; text-align: center;">
        <form class="create-game" method="POST" action="">
          {% csrf_token %}
          {{ form.as_p }}
  
          <span class="players-header">Введите имена игроков:</span>
          
          <table border="0" style="width: 100%">

            <tr class="player-row">
              
              <td style="width: 25%"></td>
              <td style="text-align: center;">
                {{ player_form }}
              </td>
              <td style="width: 25%; text-align: left;">
                <img style="width: 25px; height: 25px; cursor: pointer;" src="{% static 'bgamemate/minus-icon.png' %}" onclick="removeParentRow(this)">
              </td>
              
            </tr>
            
          </table>

          <div>
          <img style="width: 30px; height: 30px; cursor: pointer;" src="{% static 'bgamemate/plus-icon.png' %}" onclick="addNewPlayer()">
          </div>
          
          <input class="button-start-game" style="margin: 20px 0 0 0" type="submit" value="Начать игру" />
      </form>

    </td>
    <td style="width: 5%"></td>
  </tr>

  
</table>



<script src="{% static 'bgamemate/js/start-game.js' %}"></script>

{% endblock content %}