/* .create-game-form {
    width: 70px;
} */


.new-game {
    font-size: 280%;
    font-family: "Cuprum", sans-serif;
    font-weight: 700;
    color: #274c77;
    margin: 30px 0px 10px 0px;
}

.game-form {
    width: 160px;
}

.create-game label, span {
    font-family: "Cuprum", sans-serif;
    font-size: 150%;
    color: #274c77;
}

.duration-form {
    width: 23px;
    height: 20px;
    border-radius: 6px;
    border: 2px solid #274c77;
    color: #274c77;
    font-weight: 600;
    text-align: center;
    font-size: 110%;
    font-family: 'Roboto', sans-serif;
    padding: 3px;
}

.players-header {
    display: block;
    margin: 25px 0 10px 0;
}

.player { 
    font-family: 'Roboto', sans-serif;
    text-align: center;
    line-height: 2;
    font-size: 140%;
    width: 195px;
    padding: 4px;
    margin: 6px;
    appearance: none;
	border: none;
	outline: none;
	border-bottom: .2em solid #274c77;
	/* background: #a6c7ec; */
	background: #cdddf0;
	border-radius: .2em .2em 0 0;
	color: #274c77;
}

.img-remove-player {
    width: 25px; 
    height: 25px; 
    cursor: pointer;
}

.player::placeholder {
    color: #274c77;
    font-size: 80%;
    /* color: #e8e8e8; */
}

.button-start-game {
    appearance: none;
    /* background-color: #2ea44f; */
    background-color: #274c77;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Cuprum", sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    font-weight: 400;
    font-size: 26px;
    white-space: normal;
    line-height: 1.2;
    padding: 6px 16px;
    height: 80px;
    width: 240px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
  }