/* .create-game-form {
    width: 70px;
} */

.new-game {
    font-size: 230%;
    font-family: "Cuprum", sans-serif;
    font-weight: 700;
    color: #57476b;
    margin: 15px 0px 0 0px;
}

.game-form {
    width: 160px;
}

.create-game label, span {
    font-family: "Cuprum", sans-serif;
    font-size: 130%;
}

.duration-form {
    width: 23px;
    border-radius: 6px;
    border: 2px solid #57476b;
    color: #000;
}

.players-header {
    display: block;
    margin: 15px 0 10px 0;
}

.player { 
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    width: 130px;
    padding: 6px;
    margin: 3px;
    appearance: none;
	border: none;
	outline: none;
	border-bottom: .2em solid #57476b;
	background: #7c6598;
	border-radius: .2em .2em 0 0;
	color: #000;
}

.player::placeholder {
    color: #868686;
    font-size: 80%;
    color: #e8e8e8;
}

.button-start-game {
    appearance: none;
    background-color: #57476b;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Cuprum", sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    font-weight: 400;
    font-size: 18px;
    white-space: normal;
    line-height: 1.2;
    padding: 6px 16px;
    height: 50px;
    width: 140px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
  }