@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

.navbar a {
    text-decoration: none; 
    color: white;
    font-size: 120%;
}

.logo {
    float: left;
    margin-right: 20px;
}

body {
    /* font-size: 150%; */
    font-family: 'Roboto', sans-serif;

    /* font-size: 20px; */
    /* padding: 70px; */
}
